section {
  text-align: center;

  margin: 0 auto;
  max-width: 500px;

  padding: 1rem 2rem;
  margin-top: 4rem;

  border-radius: 5px;

  background: var(--primary-color);

  position: relative;
  z-index: 1;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

  h1 {
    color: #fff;
    font-size: 6rem;
    font-weight: 700;
  }

  button {
    color: var(--tertiary-color);
    background: transparent;

    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;

    padding: 1rem 3rem;

    border: 1px solid var(--tertiary-color);
    border-radius: 5px;

    transition: 0.3s ease-in-out;
    &:hover {
      border: 2px solid;
    }
  }

  p {
    margin-top: 2rem;
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Poppins';
  }
}
